nextflow.enable.dsl = 2

params {
    pubdir = "/flashscratch/c-ferraa/isoSV/dev/out"
    workDir = "/flashscratch/c-ferraa/isoSV/dev/work"
    csv_input = "/projects/chesler-lab/csna/sv_ferraj/SVTD/repo/isoSV/assets/samplesheet_mm39_dev.csv"
}

process {
    executor = 'slurm'
    clusterOptions = '--mail-type=END,FAIL --mail-user=your_email@example.com'
}

singularity {
    enabled = true
}